build/
*.ipr
run/
forge/run
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.settings/*
*.launch
.vscode/launch.json

!org.eclipse.jdt.core.prefs

abc.txt
seektest.txt
tmp1.out
tmp2.out